.index-main__footer {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 50px;
    padding: 0;
    transition: color .5s ease;
    color: rgba(0, 0, 0, 0.2);
}

.index-main__footer:hover {
    color: rgba(0, 0, 0, 0.4);
}