.erkeinfo {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 60px 0 0;
}

@media screen and (max-width: 767px) {
    .erkeinfo {
        display: none;
    }
}