{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="/static/pages/about.css">
    <title>About</title>
{% endblock %}

{% block content %}
<main class="main">
    <h1 class="h1-heading-of-page h1-corrector">About</h1>

    <p class="main__text">“Erke” is a toy shop centre which was founded in 2012 and the store is functioning for today. "Erke" offers only original products. All toys are certified and obtained from licensed suppliers. In addition, they have a huge selection of collectable toys-figurines, dolls, car models. Erke is one of the leading organizations in this field. The service is implemented in three main languages such as “Kazakh”, “Russian” and “English”. Erke sells modern, newest and the loveliest toys that come from huge companies.</p>

</main>
{% endblock %}