<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ css_url }}">
</head>
<body>

<div style="position: fixed; top: 25px; left: 300px">
    <h1>Erke</h1>
    <a style="float: left; margin-right: 50px" href="/1">Products</a>
    <a style="float: left; margin-right: 50px" href="/2">About</a>
    <a style="float: left; margin-right: 50px" href="/3">Starred</a>
    <a style="float: left; margin-right: 50px" href="/4">Filter</a>
</div>
{% if current_user.is_authenticated %}
<div style="position: fixed; top: 25px; right: 0px;" class="navbar-brand">
    <a href="/add_product">Add product</a>
    <a href="/profile"><img width="50px" height="50px"
                            {% if current_user.avatar_name != None %}
                            src="/static/images/users/{{ current_user.id }}/{{ current_user.avatar_name }}"
                            {% else %}
                            src="https://avatars.mds.yandex.net/get-pdb/1996600/d1725ec1-41d3-4b2c-ab24-91ec603557bf/s375"
                            {% endif %}</a>
    <a style="" href="/profile">{{ current_user.name }}</a>
    <a style="right: 150px;" class="navbar-brand" href="/logout">LOGOUT</a>
</div>
{% else %}
<p style="position: fixed; top: 25px; right: 25px;">
    <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
    <a class="btn btn-success" href="/login">Войти</a>
</p>
{% endif %}
{% block content %}{% endblock %}
</body>
</html>