<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/pages/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The main purpose of the site is to help customers of the Erke toy store easily order a toy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tynyshtyq Darhan">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/pages/signing.css">
    <link rel="icon" href="../static/images/prog/LogoErkeWhiteBack.svg">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Erke</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='pages/basepage.css') }}">
    <link rel="icon" href="/static/images/dev/LogoErkeWhiteBack.svg">
    <link rel="stylesheet" href="/static/pages/about.css">
    {% block head %} {% endblock %}
</head>
<body>
<div class="loader__overlay">
        <img src="/static/images/prog/Spinner-0.6s-197px.svg" alt="loader" class="loader">
    </div>
    <header class="header">
        <img class="navbar__menuBtn" src="/static/images/prog/blacknavbarmenu.svg" id="navbar__menuBtn" style="margin-right: 20px;"></img><h1 class="h1-heading-of-page erke" style="z-index: 101; color: #EF476F; margin: 10px 0;">Erke</h1>
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__elem"><a href="/1" id="navbarMain" class="navbar__linktext">Products</a></li>
                <li class="navbar__elem"><a href="/2" id="navbarToys" class="navbar__linktext">About</a></li>
                <li class="navbar__elem"><a href="/3" id="navbarCart" class="navbar__linktext">Starred</a></li>
                <li class="navbar__elem"><a href="/add_product" id="navbarAbout" class="navbar__linktext">New product</a></li>
                <li class="navbar__elem"><a href="https://web.telegram.org/z/#5192637273" id="navbarCart" class="navbar__linktext">BOT</a></li>

            </ul>

            <ul class="navbar__list">
                {% if current_user.is_authenticated %}
                <li class="navbar__elemico"><a href="/profile" class="navbar__linkico" id="navbarAbout"><img {% if current_user.avatar_name != None %} src="/static/images/users/{{ current_user.id }}/{{ current_user.avatar_name }}" {% else %} src="/static/images/dev/test.png" {% endif %} alt="avatar" class="navbar__avatar"></a></li>
                    <li class="navbar__elemico navbar__elem_show" id="likedDescktop"><a href="/3" class="navbar__linkico"><img src="/static/images/dev/pg_like.svg" class="navbar__ico" alt="loved"><img src="/static/images/dev/filled_like.svg" class="navbar__ico_hover" alt="loved"></a></li>

                    <li class="navbar__elem navbar__elem_hide"><a href="/3" class="navbar__linktext" id="likedMobile">Liked</a></li>
                    <li class="navbar__elem navbar__elem_hide"><a href="/logout" class="navbar__linktext" >Log out</a></li>
                    <li class="navbar__elemico navbar__elem_show" id="logoutDescktop"><a href="/logout" class="navbar__linkico"><img src="/static/images/dev/pg_profile.svg" class="navbar__ico" alt="loved"><img src="/static/images/dev/pg_profile.svg" class="navbar__ico_hover" alt="loved"></a></li>
                {% else %}
                    <li class="navbar__elemico"><a href="/register" class="navbar__linktext ">Sign up/</a>
                        <a href="/login" class="navbar__linktext ">Sign in</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>

<div>{% block content %}{% endblock %}</div>
<footer class="footer">
        <nav class="footerbar">
            <p class="footerbar__p">© 2020 Darhan</p>
            <ul class="footerbar__list">
                <li class="footerbar__elem"><img src="/static/images/dev/phone.svg" class="footerbar__ico" alt=""><p class="footerbar__p">+7 747 917 61 07</p></li>
                <li class="footerbar__elem"><img src="/static/images/dev/email.svg" class="footerbar__ico" alt=""><p class="footerbar__p">darhantynyshtyk4@gmail.com</p></li>
                <li class="footerbar__elem"><img src="/static/images/dev/insta.svg" class="footerbar__ico" alt=""><p class="footerbar__p">erke.onlinestore</p></li>
            </ul>
            <p class="footerbar__p2">buy whatever you want</p>
        </nav>
    </footer>
</body>
</html>
