{% extends "base.html" %}
{% block content %}
<form action="" method="post" style="width: 1000px; margin: 100px; border-width: 5px;">
    <h1>Смена пароля</h1>
    <div class="mb-3">
        <label class="form-label">Old password</label>
        {{ form.old_password(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">New password</label>
        {{ form.new_password(class="form-control") }}
    </div>
    <div class="mb-3">
        <label class="form-label">Confirm password</label>
        {{ form.confirm_password(class="form-control") }}
    </div>
    {{ form.submit(type="submit", class="btn btn-primary") }}
    <div class="alert alert-danger" style="margin-top: 25px;">{{ message }}</div>
</form>
{% endblock %}